<h2-label [class.u-invisible]="!label" [text]="label" [align]="LabelAlign.Right"></h2-label>

<div class="h2-slider-wrapper" [ngClass]="[size]">
    <div class="h2-slider" (mouseup)="onMouseUp()">
        <div #slider class="h2-slider-control"></div>
        <div class="h2-slider-center-bar" [style.left]="leftValuePercent" [style.right]="rightValuePercent"></div>
        <h2-textbox #leftTextbox class="h2--left" [disabled]="disabled" [style.left]="leftValuePercent"
            [ngModel]="leftValue | number:'0.0-2' | removeChar:','" [type]="TextboxType.Number"
            [textAlign]="TextboxTextAlign.Right" [size]="TextboxSize.XSmall" [displayAsTooltip]="true"
            [errorMsg]="leftError" (ngModelChange)="validateLeft($event)" (keydown.esc)="leftTextbox.blurOut()"
            (keydown.enter)="leftTextbox.blurOut()" (blur)="updateValueViaInput($event, 'left')">
        </h2-textbox>
        <h2-textbox #rightTextbox class="h2--right" [disabled]="disabled" [style.right]="rightValuePercent"
            [ngModel]="rightValue | number:'0.0-2' | removeChar:','" [type]="TextboxType.Number"
            [textAlign]="TextboxTextAlign.Left" [size]="TextboxSize.XSmall" [displayAsTooltip]="true"
            [errorMsg]="rightError" (ngModelChange)="validateRight($event)" (keydown.esc)="rightTextbox.blurOut()"
            (keydown.enter)="rightTextbox.blurOut()" (blur)="updateValueViaInput($event, 'right')">
        </h2-textbox>
    </div>
</div>

<h2-label class="h2-slider-units" [class.u-invisible]="!units" [text]="units" [type]="LabelType.Units">
</h2-label>
